#navBar{
    margin-bottom: 50px;
}

#logo{
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

#navBarCart{
    text-align: right;
    margin-right: 25%;
}

#navBarCart a{
    text-decoration: none;
    color: blue;
}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
}

footer hr{
    width: 40%;
    border-color: rgb(95, 0, 0);
    background-color: rgb(95, 0, 0);
    height: 1px;
    margin: auto;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 8px;   
}
    
footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
}

footer .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
 
footer .icons a{
    padding: 0px 12px;
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    text-decoration: underline;
}

.titulo{
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.precio{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: blue;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: antiquewhite;
    height: 500px;
    width: 250px;
}

.img{
    height: 400px;
    width: 200px;
    border: solid 1px black;
}

.btn-add{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-add:hover{
        background-color: black;
        color: white;
}

#btn-carrito{
    text-align: center;
}

.btn-mostrar{
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.btn-finalizar{
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.btn-finalizar:hover{
        background-color: white;
        color: black;
}