* {
    margin: 0;
    padding: 0;
}

#navBar{
    margin-bottom: 50px;
}

#logo{
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

#navBarCart{
    text-align: right;
    margin-right: 25%;
}

#navBarCart a{
    text-decoration: none;
    color: black;
}

footer {
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}

footer hr{
    width: 40%;
    border-color: rgb(95, 0, 0);
    background-color: rgb(95, 0, 0);
    height: 1px;
    margin: auto;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 8px;   
}
    
footer p{
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 12px;
}

footer .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
 
footer .icons a{
    padding: 0px 12px;
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 20px;
}

#filter-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-filter{
    margin: 0px 10px;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-filter:hover{
        background-color: black;
        color: white;
}

.titulo{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.precio{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkblue;
    margin: 12px 0px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: antiquewhite;
    height: 500px;
    width: 250px;
}

.img{
    height: 400px;
    width: 200px;
    border: solid 1px black;
}

.btn-add{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-add:hover{
        background-color: black;
        color: white;
}

#btn-return{
    text-align: right;
    margin-right: 25%;
}

.btn-return{
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-return:hover{
    background-color: black;
    color: white;
}

.btn-finalizar{
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.btn-finalizar:hover{
        background-color: white;
        color: black;
}

#total-container{
    text-align: right;
    margin-right: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Helvetica", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.img-vacio{
    width: 500px;
    height: 500px;
}

.msg-vacio{
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: 600;
}


/* RESPONSIVE MOBILE */
@media (max-width:480px){

    #navBar{
        margin-bottom: 30px;
    }
    
    #img-logo{
        height: 150px;
    }
    
    #navBarCart{
        text-align: center;
        margin-right: unset;
    }
    
    h1{
        font-size: 20px;
    }
    
    .btn-filter{
        font-size: 16px;
        padding: 8px 16px;
    }
        
    #container{
        flex-direction: column;
    }
    
    #carrito{
        flex-direction: column;
    }
    
    .card{
        height: 400px;
        width: 200px;
    }
    
    .img{
        height: 350px;
        width: 175px;
    }

    #btn-return{
        text-align: center;
        margin-right: unset;
    }
    
    .btn-return{
        font-size: 16px;
        padding: 8px 16px;
    }
    
    .btn-finalizar{
        margin-top: 50px;
    }
    
    #total-container{
        text-align: center;
        margin-right: unset;
        font-size: 24px;
    }
    
    .img-vacio{
        width: 350px;
        height: 350px;
        margin: 60px 0px 30px 0px;
    }
    
    .msg-vacio{
        font-size: 20px;
    }
    
    footer hr{
        width: 60%;
    }
}

/* RESPONSIVE TABLET */
@media (min-width: 481px) and (max-width: 1023px){

    #navBar{
        margin-bottom: 50px;
    }
    
    #navBarCart{
        text-align: center;
        margin-right: unset;
    }
    
    h1{
        font-size: 36px;
    }

    #btn-return{
        text-align: center;
        margin-right: unset;
    }
    
    #total-container{
        text-align: center;
        margin-right: unset;
        font-size: 36px;
    }
    
    .img-vacio{
        margin: 60px 0px 30px 0px;
    }
    
    .msg-vacio{
        font-size: 32px;
    }
}